.container {
    height: 100%;
    width: 47%;

    display: flex;

    justify-content: center;
    align-items: center;
}

.button {
    background-color: inherit;
    border: thin black solid;
}

.button:hover {
    background-color: darkgray;
}

.contentHeader {
    position: absolute;
    transform: translateY(60px);

    height: 75px;
    width: 150px;

    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: darkgray;
}

.contentTitle {
    align-self: center;
}

.contentInput {
    background-color: inherit;
    border: black thin solid;

    align-self: center;

    width: 50%;
}