html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  height: 100%;

  display: flex;
  flex-direction: column;

  flex: -moz-max-content;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex: 1;
}

h1, h2 {
  padding: 0;
  margin: 0;
  font-weight: normal;
  user-select: none;
}

input {
  padding: 5px;
  background-color: rgb(217, 217, 217);

  border: rgba(0, 0, 0, 0.5) thin solid;
  border-radius: 20px;
}

input:focus:not(.error) {
  outline: 1px solid #3c5a7e;
}

button {
  padding: 5px 15px;
  background-color: rgb(217, 217, 217);

  border: rgba(0, 0, 0, 0.5) thin solid;
  border-radius: 20px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  color: inherit;
  text-decoration: none;
}

.border-bottom {
  border-bottom: rgba(0, 0, 0, .5) thin solid;
}

.error {
  outline: red solid thin;
}