.header {
    display: flex;
    height: 65px;

    align-items: center;
    justify-content: space-between;

    padding: 0 35px;

    background-color: rgb(217, 217, 217);
}

.title {
}

.circle {
    height: 30px;
    width: 30px;

    background-color: white;

    border: rgba(0, 0, 0, .5);
    border-radius: 90px;
}