.container {
    display: flex;
    flex-direction: column;

    height: 50px;
    border-left: rgba(0, 0, 0, .5) thin solid;
    padding-left: 20px;

    margin-bottom: 20px;

    justify-content: center;
}

.container:hover {
    background-color: darkgray;
}

.username {}

.container {}