.container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 255px;

    align-items: center;

    margin: 0 20px;
    overflow-y: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        align-items: start;
        padding-left: 20px;
    }
}