#contacts {
    justify-content: start;
    align-items: start;

    width: 200px;
}

.title {
    font-weight: normal;
    margin: 0;

    height: 35px;

    text-align: center;
    border-bottom: black thin solid;
}

.container {}