.container {
    display: flex;
    flex-direction: column;

    width: 0;
    min-width: 80px;

    border: rgba(0, 0, 0, .5) thin solid;
    border-radius: 12px;

    padding: 10px 80px;
    margin-bottom: 10px;

    justify-content: center;
    align-items: center;
}

.container:hover:not(.selected) {
    background-color: darkgray;
}

.username {}

.onlineDate {}

.username, .onlineDate {
    user-select: none;
}

.selected {
    background-color: rgba(0, 0, 0, 0.1);
}