.header {
    display: flex;

    flex: 0 1 35px;
    flex-direction: row;

    /*justify-content: center;*/
    align-items: center;

    border-bottom: black thin solid;
}

.title {
    font-weight: normal;
    margin: 0;

    width: 53%;

    text-align: end;
}