.container {
    display: flex;
    flex-direction: column;

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 35px 80px 10px;

    border: rgba(0, 0, 0, .5) thin solid;
    border-radius: 20px;

    justify-content: center;
    align-items: center;

    background-color: white;
}

.field {
    display: flex;
    flex-direction: column;

    width: 100%;

    justify-content: center;
    align-items: center;

    padding-bottom: 5px;
}

.title {
    align-self: center;
    margin-bottom: 10px;
}

.input {
    width: inherit;
}

.button {
    margin-top: 15px;
}

.error {
    outline: red solid thin;
}